CapaGUI/Connected Services/ServiceLOCParticipante/WebServiceLOCParticipante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregarParticipanteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="participante" type="tns:Participante" />
            <s:element minOccurs="0" maxOccurs="1" name="comuna" type="tns:Comuna" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="tns:Sexo" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="tns:Estado_Participante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Participante">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Participante1" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut_Participante1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Participante1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido_Patreno_Participante1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido_Materno_Participante1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Nacimiento_Participante1" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Comuna">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Comuna1" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Comuna1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sigla_Comuna1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sexo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Sexo1" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion_Sexo1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estado_Participante">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Estado_Comuna1" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion_Estado_Participante1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="agregarParticipanteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="listarParticipanteService">
        <s:complexType />
      </s:element>
      <s:element name="listarParticipanteServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarParticipanteServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarParticipanteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="participante" type="tns:Participante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarParticipanteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarRut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="participante" type="tns:Participante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarRutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarRutResult" type="tns:Participante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarParticipanteService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="participante" type="tns:Participante" />
            <s:element minOccurs="0" maxOccurs="1" name="comuna" type="tns:Comuna" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="tns:Sexo" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="tns:Estado_Participante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarParticipanteServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarIdParticipanteServie">
        <s:complexType />
      </s:element>
      <s:element name="buscarIdParticipanteServieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarIdParticipanteServieResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarParticipanteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:agregarParticipanteService" />
  </wsdl:message>
  <wsdl:message name="agregarParticipanteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:agregarParticipanteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="listarParticipanteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:listarParticipanteService" />
  </wsdl:message>
  <wsdl:message name="listarParticipanteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:listarParticipanteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarParticipanteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarParticipanteService" />
  </wsdl:message>
  <wsdl:message name="eliminarParticipanteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarParticipanteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarRutSoapIn">
    <wsdl:part name="parameters" element="tns:buscarRut" />
  </wsdl:message>
  <wsdl:message name="buscarRutSoapOut">
    <wsdl:part name="parameters" element="tns:buscarRutResponse" />
  </wsdl:message>
  <wsdl:message name="modificarParticipanteServiceSoapIn">
    <wsdl:part name="parameters" element="tns:modificarParticipanteService" />
  </wsdl:message>
  <wsdl:message name="modificarParticipanteServiceSoapOut">
    <wsdl:part name="parameters" element="tns:modificarParticipanteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarIdParticipanteServieSoapIn">
    <wsdl:part name="parameters" element="tns:buscarIdParticipanteServie" />
  </wsdl:message>
  <wsdl:message name="buscarIdParticipanteServieSoapOut">
    <wsdl:part name="parameters" element="tns:buscarIdParticipanteServieResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceLOCParticipanteSoap">
    <wsdl:operation name="agregarParticipanteService">
      <wsdl:input message="tns:agregarParticipanteServiceSoapIn" />
      <wsdl:output message="tns:agregarParticipanteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarParticipanteService">
      <wsdl:input message="tns:listarParticipanteServiceSoapIn" />
      <wsdl:output message="tns:listarParticipanteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarParticipanteService">
      <wsdl:input message="tns:eliminarParticipanteServiceSoapIn" />
      <wsdl:output message="tns:eliminarParticipanteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarRut">
      <wsdl:input message="tns:buscarRutSoapIn" />
      <wsdl:output message="tns:buscarRutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarParticipanteService">
      <wsdl:input message="tns:modificarParticipanteServiceSoapIn" />
      <wsdl:output message="tns:modificarParticipanteServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarIdParticipanteServie">
      <wsdl:input message="tns:buscarIdParticipanteServieSoapIn" />
      <wsdl:output message="tns:buscarIdParticipanteServieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceLOCParticipanteSoap" type="tns:WebServiceLOCParticipanteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarParticipanteService">
      <soap:operation soapAction="http://tempuri.org/agregarParticipanteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarParticipanteService">
      <soap:operation soapAction="http://tempuri.org/listarParticipanteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarParticipanteService">
      <soap:operation soapAction="http://tempuri.org/eliminarParticipanteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRut">
      <soap:operation soapAction="http://tempuri.org/buscarRut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarParticipanteService">
      <soap:operation soapAction="http://tempuri.org/modificarParticipanteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarIdParticipanteServie">
      <soap:operation soapAction="http://tempuri.org/buscarIdParticipanteServie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceLOCParticipanteSoap12" type="tns:WebServiceLOCParticipanteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarParticipanteService">
      <soap12:operation soapAction="http://tempuri.org/agregarParticipanteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarParticipanteService">
      <soap12:operation soapAction="http://tempuri.org/listarParticipanteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarParticipanteService">
      <soap12:operation soapAction="http://tempuri.org/eliminarParticipanteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRut">
      <soap12:operation soapAction="http://tempuri.org/buscarRut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarParticipanteService">
      <soap12:operation soapAction="http://tempuri.org/modificarParticipanteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarIdParticipanteServie">
      <soap12:operation soapAction="http://tempuri.org/buscarIdParticipanteServie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceLOCParticipante">
    <wsdl:port name="WebServiceLOCParticipanteSoap" binding="tns:WebServiceLOCParticipanteSoap">
      <soap:address location="http://localhost:54113/WebServiceLOCParticipante.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceLOCParticipanteSoap12" binding="tns:WebServiceLOCParticipanteSoap12">
      <soap12:address location="http://localhost:54113/WebServiceLOCParticipante.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>