CapaGUI/Connected Services/ServiceLOC/WebServiceLOC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregarTorneoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="torneo" type="tns:Torneo" />
            <s:element minOccurs="0" maxOccurs="1" name="tp" type="tns:Tipo_Torneo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Torneo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Torneo1" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Torneo1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion_Torneo1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Torneo1" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad_Participante1" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tipo_Torneo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Tipo_Torneo1" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Tipo_torneo1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion_Tipo_Torneo1" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="agregarTorneoServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="listarTorneoService">
        <s:complexType />
      </s:element>
      <s:element name="listarTorneoServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarTorneoServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarTorneoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="torneo" type="tns:Torneo" />
            <s:element minOccurs="0" maxOccurs="1" name="tp" type="tns:Tipo_Torneo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarTorneoServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarTorneoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TP" type="tns:Tipo_Torneo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTorneoServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarTorneoServiceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTorneoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="torneo" type="tns:Torneo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarTorneoServiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarIdTorneo">
        <s:complexType />
      </s:element>
      <s:element name="buscarIdTorneoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarIdTorneoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerDatosTorneoService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="torneo" type="tns:Torneo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerDatosTorneoServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerDatosTorneoServiceResult" type="tns:Torneo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregarTorneoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:agregarTorneoService" />
  </wsdl:message>
  <wsdl:message name="agregarTorneoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:agregarTorneoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="listarTorneoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:listarTorneoService" />
  </wsdl:message>
  <wsdl:message name="listarTorneoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:listarTorneoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="modificarTorneoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:modificarTorneoService" />
  </wsdl:message>
  <wsdl:message name="modificarTorneoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:modificarTorneoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarTorneoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:buscarTorneoService" />
  </wsdl:message>
  <wsdl:message name="buscarTorneoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:buscarTorneoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarTorneoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarTorneoService" />
  </wsdl:message>
  <wsdl:message name="eliminarTorneoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarTorneoServiceResponse" />
  </wsdl:message>
  <wsdl:message name="buscarIdTorneoSoapIn">
    <wsdl:part name="parameters" element="tns:buscarIdTorneo" />
  </wsdl:message>
  <wsdl:message name="buscarIdTorneoSoapOut">
    <wsdl:part name="parameters" element="tns:buscarIdTorneoResponse" />
  </wsdl:message>
  <wsdl:message name="TraerDatosTorneoServiceSoapIn">
    <wsdl:part name="parameters" element="tns:TraerDatosTorneoService" />
  </wsdl:message>
  <wsdl:message name="TraerDatosTorneoServiceSoapOut">
    <wsdl:part name="parameters" element="tns:TraerDatosTorneoServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceLOCSoap">
    <wsdl:operation name="agregarTorneoService">
      <wsdl:input message="tns:agregarTorneoServiceSoapIn" />
      <wsdl:output message="tns:agregarTorneoServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarTorneoService">
      <wsdl:input message="tns:listarTorneoServiceSoapIn" />
      <wsdl:output message="tns:listarTorneoServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarTorneoService">
      <wsdl:input message="tns:modificarTorneoServiceSoapIn" />
      <wsdl:output message="tns:modificarTorneoServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarTorneoService">
      <wsdl:input message="tns:buscarTorneoServiceSoapIn" />
      <wsdl:output message="tns:buscarTorneoServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTorneoService">
      <wsdl:input message="tns:eliminarTorneoServiceSoapIn" />
      <wsdl:output message="tns:eliminarTorneoServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarIdTorneo">
      <wsdl:input message="tns:buscarIdTorneoSoapIn" />
      <wsdl:output message="tns:buscarIdTorneoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerDatosTorneoService">
      <wsdl:input message="tns:TraerDatosTorneoServiceSoapIn" />
      <wsdl:output message="tns:TraerDatosTorneoServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceLOCSoap" type="tns:WebServiceLOCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarTorneoService">
      <soap:operation soapAction="http://tempuri.org/agregarTorneoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTorneoService">
      <soap:operation soapAction="http://tempuri.org/listarTorneoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTorneoService">
      <soap:operation soapAction="http://tempuri.org/modificarTorneoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTorneoService">
      <soap:operation soapAction="http://tempuri.org/buscarTorneoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTorneoService">
      <soap:operation soapAction="http://tempuri.org/eliminarTorneoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarIdTorneo">
      <soap:operation soapAction="http://tempuri.org/buscarIdTorneo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerDatosTorneoService">
      <soap:operation soapAction="http://tempuri.org/TraerDatosTorneoService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceLOCSoap12" type="tns:WebServiceLOCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregarTorneoService">
      <soap12:operation soapAction="http://tempuri.org/agregarTorneoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTorneoService">
      <soap12:operation soapAction="http://tempuri.org/listarTorneoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTorneoService">
      <soap12:operation soapAction="http://tempuri.org/modificarTorneoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTorneoService">
      <soap12:operation soapAction="http://tempuri.org/buscarTorneoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTorneoService">
      <soap12:operation soapAction="http://tempuri.org/eliminarTorneoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarIdTorneo">
      <soap12:operation soapAction="http://tempuri.org/buscarIdTorneo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerDatosTorneoService">
      <soap12:operation soapAction="http://tempuri.org/TraerDatosTorneoService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceLOC">
    <wsdl:port name="WebServiceLOCSoap" binding="tns:WebServiceLOCSoap">
      <soap:address location="http://localhost:54113/WebServiceLOC.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceLOCSoap12" binding="tns:WebServiceLOCSoap12">
      <soap12:address location="http://localhost:54113/WebServiceLOC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>